<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="/js/home/login.js" defer></script>
  </head>
  <body>
    <input
      type="text"
      placeholder="Id 를 입력하세요."
      name="login-id"
      id="login-id"
    /><br />
    <input
      type="text"
      placeholder="PW 를 입력하세요."
      name="login-pw"
      id="login-pw"
    /><br />
    <button>로그인</button>
  </body>
</html>
